/* App.css */

/* For the card images to have a consistent height */

.card-body {
	background-color: #f8f9fa;
	color: rgb(53, 53, 53);
}

.card-footer {
	background-color: #f8f9fa;
	border-top: 1px solid #ddd;
}

.card-footer .btn {
	width: 45%;
	margin: 0 5%;
}
.card-text {
	color: rgb(75, 72, 72);
	text-align: left;
}
.card-title {
	color: rgb(75, 72, 72);
}
.btn:hover {
	background-color: #373b3e;
	border-color: #4e555b;
	color: #4e555b;
}
